* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.chat-msg {
    width: 25%;
    border: 1px solid slategray;
}

.chat-show {
    width: 75%;
}

.chat-msg-list {
    height: 91.67%;
}

.chat-msg-area {
    height: 8.33%;
    width: 100%;
    text-align: center;
    display: inline-flex;
}

.text-in-chat {
    width: 75%;
    height: 100%;
}

textarea[name=chatText] {
    resize: none;
}

.submit-in-chat {
    width: 25%;
}

video {
    margin: 10px;
    width: 300px;
    height: 200px;
    object-fit: fill;
    background: transparent url('http://placehold.it/300x200?text=waiting+for+player') no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

video.me {
    display: none;
}